@charset "ISO-8859-1";

.img{
	background-image: url("waterfaucet.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width:100%;
	
}
a{
	color:white;
	text-decoration: none;
	font-size:20px;
	font-weight:bold;
}